body {
    background-color: #e6e6e6;
}

.main {
    float: left;
    background-color: #F0F0F0;
    width: 1280px;
    min-height: 100%;
    height: auto;
    margin-left: 100px;
    border-bottom: 0.5px solid silver;
}

.main .head {
    width: 100%;
    height: 480px;
    border-bottom: 1px solid rgb(248,248,248);
}

.head .actor-img {
    height: 100%;
    width: 380px;
    align-items: center;
    border-right: 1px solid rgb(248,248,248);
    float: left;
}

.actor-img .img {
    float: left;
    border-radius: 8px;
    margin-left: 55px;
    margin-top: 50px;
    width: 270px;
    height: 380px;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
}

.actor-img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.actor-img .img p {
    margin-top: 170px;
    font-size: 20px;
    font-family: sans-serif;
}

.head .actor-info {
    width: 35%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

.actor-info h2 {
    font-family: Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;;
    margin-top: 55px;
    font-size: 19px;
}

.best-movies h2 {
    font-family: Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;;
    font-size: 19px;
}

.actor-info .info {
    width: 300px;
}

.info ul li{
    margin-top: 10px;
    color: 	rgb(48,48,48);
    display: inline-block;
    width: 140px;
    font-family: sans-serif;
    font-size: 15px;
}

.info .name {
    color: grey;
}

.head h3 {
    font-family: Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}


.main .films {
    width: 100%;
}

.films h3 {
    margin-top: 10px;
    margin-left: 55px;
    font-family: Graphik Kinopoisk LC Web,Arial,Tahoma,Verdana,sans-serif;
    font-size: 25px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.best-movies {
    margin-top: 135px;
    float: left;
    width: 30%;
}

.best-movies button {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.best-movies button:hover {
    color: #066ee7;
}

.movie-picture {
    width: 280px;
    height: 175px;
    background-color: rgb(248,248,248);
    border-radius: 5px;
    margin-top: -65px;

}

.title {
    word-break: break-word;
    margin-top: 10px;
    width: 180px;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 10px;
    border: 0;
    text-align: left;
    background-color: rgb(248,248,248);
}

.films {
    margin-top: -10px;
    background: rgb(248,248,248);
}

.films .filmography {
    background: rgb(248,248,248);
    margin-left: 110px;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.films .container {
    width: 550px;
    height: 110px;
    border-bottom: 1px solid silver;
    margin-left: 55px;
    margin-top: 15px;
}

.pic {
    float: left;
    margin-left: 10px;
    width: 80px;
    height: 100px;
}

.pic a {
    margin-left: -1px;
    width: 150px;
    height: 165px;
}

.pic a img {
    object-fit: cover;
    width: 80px;
    height: 100px;
}

.movie-title {
    margin-left: 15px;
    float: left;
    width: 325px;
    height: 90px;
}

.movie-title .movie-title-btn {
    background-color: rgb(248,248,248);
    border: 0;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    text-align: left;
}

.movie-year {
    height: 80px;
    float: left;
    width: 50px;
}

.movie-year p {
    margin-top: 40px;
    font-size: 18px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: black;
}

.movie-score {
    float: left;
    margin-left: 30px;
}

.movie-score p {
    margin-top: -5px;
    width: 40px;
    height: 40px;
    padding: 8px 5px;
    border-radius: 5px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgb(248,248,248);
}

.movie-title-btn:hover, .title:hover {
    color: #066ee7;
}