body {
    background-color: 	rgb(224,224,224);
}

.top {
    margin-left: 250px;
    height: 65px;
    border-bottom: 1px solid grey;
}

.top .text1 {
    float: left;
    display: inline-block;
}

.top .text1 h2{
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 10px;
}

.alert{
    width:50%;
    margin: -20px auto;
    padding:30px;
    position:relative;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    z-index: 10;
    animation: drop 0.7s ease forwards;
}

@keyframes drop  {
    0%{}
    70%{transform: translateY(30px)}
    100%{transform: translateY(30px)}
}
.close{
    color: black;
    position:absolute;
    width:30px;
    height:30px;
    opacity:0.5;
    border-width:1px;
    border-style:solid;
    border-radius:50%;
    right:15px;
    top:25px;
    text-align:center;
    font-size:1.6em;
    cursor:pointer;
}

.main-content {
    margin-left: 290px;
    margin-top: 40px;
    width: 1180px;
}

.main-content .picture {
    float: left;
    margin-top: 20px;
    width: 320px;
    height: 490px;
    background-color: rgb(224,224,224);
    border: 1px solid silver;
    border-radius: 10px;
}

.left {
    float: left;
    width: 320px;
}

.right {
    float: left;
    background-color: rgb(224,224,224);
}

.right button {
    font-family: sans-serif;
    width: 280px;
    height: 42px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.25em;
    color: black;
    background-color: 	rgb(224,224,224);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
}


.image-preview {
    width: 280px;
    height: 360px;
    border: 2px solid #222028;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

.image-preview__image {
    min-width: 280px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

.image-preview__default__text {
    margin-left: 100px;
}


.inputFile {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    font-family: sans-serif;
    width: 280px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.25em;
    color: black;
    background-color: rgb(224,224,224);
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    padding: 8px 100px;
    border-radius: 8px;
}

.info {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 830px;
    height: 490px;
    background-color: rgb(224,224,224);
    border: 1px solid silver;
    border-radius: 10px;
}

.info .input-space {
    height: 350px;
}


.info label {
    display: inline-block;
    width: 165px;
    margin-left: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}

.info input {
    margin-top: 10px;
    width: 630px;
    height: 40px;
    background-color: rgb(224,224,224);
    border: 1px solid silver;
    outline: 0;
    font-size: 18px;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
}

.info button {
    font-family: sans-serif;
    margin-top: 28px;
    margin-left: 50px;
    width: 735px;
    height: 42px;
    margin-right: 20px;
    font-size: 1.25em;
    color: black;
    background-color: 	rgb(224,224,224);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
}

.arrow-5 {
    background: #eb5757;
    text-align: left;
    color: #fff;
    padding: 10px 10px;
    margin-top: 15px;
}

.arrow-5-top {
    margin-left: 140px;
    position: relative;
    z-index: 10;
    width: 550px;
}

.arrow-5-top::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
}

.arrow-5-top::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 10%;
    border-bottom: 10px solid #eb5757;
    top: -8px;
}