@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: 	rgb(245,245,245);
}

.sidebar .info-container {
    overflow: hidden;
    background-color: rgb(245,245,245);
    border-bottom: 1px solid grey;
}

.info-container .avatar {
    width: 100%;
    height: 145px;
    text-align: center;
}

.info-container .avatar .user-avatar {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.info-container .user-info {
    height: 70px;
    text-align: center;
}

.info-container .user-info .user-name, .user-info .user-role {
    margin-top: 0;
}

.sidebar .drop {
    background-color: rgb(245,245,245);
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar .drop .feat-show.show {
    display: block;
}

.sidebar .drop .serv-show.show1 {
    display: block;
}

.sidebar .drop .actors-show.show2 {
    display: block;
}

.sidebar .drop .active {
    margin-left: 5px;
    line-height: 40px;
}

.sidebar .drop .active a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar .drop ul {
    position: static;
    display: none;
}

.sidebar .drop ul li {
    line-height: 10px;
    border-bottom: none;
}

.sidebar .drop ul li a {
    font-size: 13px;
    color: black;
    padding-left: 5px;
}

li:hover, .sidebar .drop li.active ul li a:hover {
    background-color: rgb(220,220,220);
}

.sidebar .drop li.active ul li a {
    color: black;
    background-color: 	rgb(245,245,245);
    border-left-color: transparent;
}

.sidebar .drop li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.sidebar .drop li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}