body {
    background-color: #212529;
}

.top {
    margin-left: 250px;
    height: 65px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.top .text1 {
    float: left;
}

.top .text1 h2{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 10px;
}

.main-content {
    margin-left: 250px;
}

.main-content .content {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 600px;
    height: 320px;
    border-radius: 5px;
    background-color: #222028;
}

.main-content .content .head {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.head .icon {
    float: left;
    width: 30px;
    height: 60px;
}

.head .icon i {
    padding: 18px 12px;
    font-size: 25px;
    color: #f9ab00;
}

.head .name {
    height: 60px;
    float: left;
    width: 430px;
}

.head .name p {
    padding: 13px 14px;
    font-size: 20px;
    color: white;
}

.head .button {
    float: left;
    height: 60px;
}

.head .button button {
    margin-top: 16px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: #212529;
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
}

.head .button button:hover {
    color: #f9ab00;
    border: 1px solid rgba(255,255,255,0.1);
}

.content-table {
    border-collapse: collapse;
    font-size: 1.1em;
    min-width: 600px;
    overflow: hidden;
    font-family: sans-serif;
}

.content-table thead tr {
    color: white;
    text-align: left;
    font-weight: bold;
    min-width: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

.content-table i {
    color: #f9c22a;
}

.content-table button {
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #222028;
    color: white;
    cursor: pointer;
}

.content-table button:hover {
    color: #f9c22a;
    outline: none;
    border: none;
}