


.main-container {
    margin-top: 10px;
    margin-left: 250px;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 1260px;
    height: 600px;
    display: block;
}

.content {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
}

.content label {
    color: grey;
}

.content input {
    margin-left: 70px;
    width: 300px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

hr {
    margin-top: 20px;
}