@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    background-color: #1e1e1e;
    height: 70px;
}


.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: #1b1b1b;
}

.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 1px;
}

.sidebar .drop {
    background-color: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar .drop .feat-show.show {
    display: block;
}

.sidebar .drop .serv-show.show1 {
    display: block;
}

.sidebar .drop .actors-show.show2 {
    display: block;
}

.sidebar .drop .active {
    margin-left: 5px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar .drop .active a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}


.sidebar .drop li a:hover {
    color: cyan;
    background-color: #1e1e1e;
}

.sidebar .drop ul {
    position: static;
    display: none;
}

.sidebar .drop ul li{
    line-height: 42px;
    border-bottom: none;
}

.sidebar .drop ul li a {
    font-size: 13px;
    color: #e6e6e6;
    padding-left: 5px;
}
.sidebar .drop li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
.sidebar .drop ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
}
.sidebar .drop li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.sidebar .drop li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}