body {
    background-color: #e6e6e6;
    background-size: cover;
}

.top {
    width: 1330px;
    margin-left: 100px;
    background-color: black;
    height: 390px;
}

.top .left {
    float: left;
    height: 350px;
    width: 650px;
    display: inline-block;
}

.top .left .title {
    width: 580px;
    height: auto;
    float: top;
    margin-left: 40px;
}

.top .left hr {
    margin-left: 40px;
    width: 580px;
    margin-top: 10px;
}

.top .user-score-container {
    height: 65px;
}

.top .right {
    float: left;
    height: 380px;
    width: 670px;
}

.top video {
    object-fit: fill;
    z-index: 1;
    width: 97%;
    height: 100%;
    margin-left: 10px;
}


.top h1 {
    color: white;
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 500;
    display: inline-block;
}

.top h2 {
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.top .user-score-title {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 530px;
    height: 70px;
}

.top .score {
    float: left;
    margin-top: 10px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: lightslategray;
}

.top .score .value {
    color: white;
    margin-top: 11px;
    font-family: sans-serif;
    font-size: 35px;
    border-radius: 5px;
}

.top .left .my-score {
    width: 620px;
    height: 90px;
    margin-top: 0px;
}

.left .my-score .my-score-title {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 530px;
    height: 80px;
    display: inline-block;
}

.left .my-score .my-score-value {
    float: left;
    margin-top: 10px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: lightslategray;
}

.my-score-value .value {
    color: white;
    border: 0;
    margin-top: 11px;
    font-family: sans-serif;
    font-size: 35px;
    border-radius: 5px;
}

.left .date {
    margin-top: 10px;
    width: 600px;
    margin-left: 20px;
    text-align: left;
}

.left .date h2 {
    color: #fdd030;
}

.left .date h2 p {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    color: white;
}
.top .left .rate-movie {
    margin-top: 10px;
    margin-left: -10px;
}

.top .left .rate-btn {
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 25px;
    border: 0;
    background-color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.top .left .dynamic {
    margin-left: 500px;
}

.top .left .rate-btn:hover {
    color: #f9c22a;
}

.my-score-title form {
    display: inline-block;
    margin-left: 10px;
}

.my-score-title .remove-rating {
    border: 0;
    color: red;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    background-color: black;
}

.my-score-title .remove-rating:hover {
    color: red;
}

.top .user-score-container .score .no-rating {
    font-family: sans-serif;
    font-size: 32px;
    color: white;
    margin-top: 14px;
    vertical-align: middle;
    font-weight: 700;

}

.top h1 p {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    background-color: #F0F0F0;
    width: 1330px;
    min-height: 520px;
    height: auto;
    margin-left: 100px;
    border-bottom: 0.5px solid silver;
}

.left-side {
    width: 400px;
    min-height: 520px;
    height: auto;
    border-right: 0.5px solid silver;
    float: left;
}

.picture {
    width: 400px;
    height: auto;
}

.picture img {
    object-fit: cover;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    min-width: 290px;
    min-height: 410px;
    max-width: 290px;
    max-height: 410px;
}

.middle {
    float: left;
    width: 700px;
    height: 500px;
}

.middle h1 {
    margin-top: 45px;
    margin-left: 50px;
    font-family: sans-serif;
}

.middle h3 {
    margin-top: 50px;
    margin-left: 50px;
    font-family: sans-serif;
}

.middle hr {
    margin-left: 50px;
    margin-top: 5px;
}

.middle ul {
    margin-left: 50px;
    margin-top: 10px;
}

.middle li {
    display: inline-block;
}

.middle .name {
    font-family: sans-serif;
    position: absolute;
    width: 180px;
    color: darkgrey;
}

.middle .value {
    font-family: sans-serif;
    margin-left: 150px;
    width: auto;
    height: auto;
}

.middle .value button {
    width: 170px;
    height: 25px;
    cursor: pointer;
    border: 0;
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

.middle .value button:hover {
    color: #066ee7;
}

.middle .value button:focus {
    outline: none;
    border: 0;
}

.right-side {
    margin-top: -60px;
    width: 200px;
    float: left;
}

.right-side .actors h3 {
    font-family: sans-serif;
    margin-top: 110px;
    margin-left: 30px;
}

.right-side .actors button {
    width: 170px;
    height: 25px;
    cursor: pointer;
    border: 0;
    font-family: sans-serif;
    margin-top: 1px;
    font-size: 15px;
    margin-left: 30px;
    text-align: left;
    color: #060077;
}

.rate-movie button {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: sans-serif;
}

.rate-movie button:focus {
    border: 0;
    outline: none;
    color: #f9c22a;
}

.rate-movie button:hover {
    color: #f9c22a;
}

.rate-movie form {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: -23px;
    margin-left: 220px;
    transform: rotateY(180deg);
    display: flex;
    width: auto;
    height: auto;
    float: left;
}

.rate-movie .dynamic {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: -23px;
    margin-left: 255px;
}

.rate-movie input {
    display: none;
}

.rate-movie label {
    display: block;
    cursor: pointer;
    height: 30px;
}

.rate-movie label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
    color: white;
}

.rate-movie label:after {
    content: '\f005';
    font-family: fontAwesome;
    display: block;
    font-size: 20px;
    position: absolute;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    top: 0;
    color: yellow;
}

.rate-movie label:hover:after,
.rate-movie label:hover ~ label:after,
.rate-movie input:checked ~ label:after {
    opacity: 1;
    float: left;
}

.rate-movie button:focus + form {
    opacity: 1;
    visibility: visible;
}

.comment-section {
    width: 1330px;
    background-color: #F0F0F0;
    margin-left: 100px;
    min-height: 80px;
    border-top: 1px solid grey;
}

.comment-section .scroll-down {
    border: 0.5px solid silver;
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.comment-section .scroll-down p {
    float: left;
    margin-left: 10px;
}

.comment-section .scroll-down i {
    color: grey;
    margin-left: 5px;
    margin-top: 2px;
    float: left;
}

.comment-section .scroll-down:hover {
    background-color: #e6e6e6;
    outline: 0;
    border: 0.5px solid silver;
}

.comment-section h3 {
    margin-top: 35px;
    margin-left: 50px;
    font-family: sans-serif;
}

.comment-section .user-comments {
    margin-top: 20px;
    margin-left: 50px;
    width: 860px;
    min-height: 10px;
    overflow: hidden;
    border-bottom: 1px solid silver;
}

.comment-section .user-comments .user-picture {
    float: left;
    width: 80px;
    text-align: center;
}

.comment-section .user-comments .user-picture img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 50%;
}

.comment-section .user-comments .content {
    float: left;
    width: 600px;
    display: block;
}

.comment-section .user-comments .content .user-name {
    float: top;
    width: 200px;
    height: 30px;
}

.comment-section .user-comments .content .user-comment {
    width: 600px;
    min-height: 10px;
}

.comment-section .user-comments .content .user-comment p {
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
}

.comment-section .user-comments .content .comment-vote {
    margin-top: 10px;
    height: 25px;
    float: top;
    width: 600px;
    display: inline-block;
}

.comment-section .user-comments .content .comment-vote p {
    display: inline-block;
}

.comment-section .user-comments .content .comment-vote form {
    display: inline-block;
}

.comment-section .user-comments .content .comment-vote .thumb-up-btn, .comment-section .user-comments .content .comment-vote .thumb-down-btn {
    display: inline-block;
    font-size: 17px;
    margin-left: 5px;
    cursor: pointer;
    border: 0;
}

.comment-section .user-comments .content .comment-vote .thumb-up-btn i {
    color: #66cc33;
}

.comment-section .user-comments .content .comment-vote p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.comment-section .user-comments .content .comment-vote .thumb-down-btn i {
    color: red;
}

.comment-section .user-comments .content .user-name-btn {
    border: 0;
    cursor: pointer;
    color: #060077;
}

.comment-section .user-comments .upload-date {
    float: left;
    width: 150px;
}

.more {
    margin-top: 2px;
    margin-left: -20px;
    align-items: center;
    position: relative;
    display: inline-block;
}

.more span {
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.more i {
    width: 45px;
    height: 20px;
    cursor: pointer;
}

.more button {
    border: 0;
    background-color: #f9f9f9;
    float: left;
    font-size: 16px;
    width: 120px;
    text-align: left;
    font-family: sans-serif;
    cursor: pointer;
}

.more button:hover {
    color: #060077;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.more:hover .dropdown-content {
    width: 138px;
    margin-left: -90px;
    display: block;
    z-index: 5;
}

.overlay1, .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay1:target, .overlay2:target {
    visibility: visible;
    opacity: 1;
}

.pop {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 450px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    min-height: 150px;
    overflow: hidden;
    transition: all 5s ease-in-out;
}

.pop1 {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 450px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    min-height: 235px;
    overflow: hidden;
    transition: all 5s ease-in-out;
}

.pop1 textarea {
    margin-top: 10px;
    resize: none;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid silver;
    width: 100%;
    height: 120px;
}

.pop1 textarea:focus {
    outline: none !important;
    border: 1px solid silver;
}

.pop .text, .pop1 .text {
    text-align: center;
}

.pop .text h2, .pop1 .text h2 {
    margin-left: 20px;
}

.pop .text p {
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 10px;
    text-align: left;
    margin-left: 30px;
}

.pop .close, .pop1 .close {
    float: right;
    color: black;
    width: 10px;
    margin-top: -10px;
}

.pop .close:hover, .pop1 .close:hover {
    color: #060077;
}

.pop .remove-comment-btn, .pop1 .edit-comment-btn {
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    height: 35px;
    border-radius: 8px;
    background-color: #e6e6e6;
}

.remove-comment-btn:hover, .edit-comment-btn:hover {
    color: #060077;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .pop {
        width: 70%;
    }
}

.leave-comment {
    background-color: #F0F0F0;
    width: 600px;
    height: 380px;
    border: 1px solid silver;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 50px;
}

.leave-comment .user-info {
    border-bottom: 1px solid silver;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #F0F0F0;
    width: 100%;
    height: 100px;
}

.leave-comment .user-info .user-picture1 {
    width: 100px;
    height: 100%;
    float: left;
    background-color: #F0F0F0;
    border-top-left-radius: 8px;
    align-items: center;
    text-align: center;
}

.leave-comment .user-info .user-picture1 img {
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
    width: 70px;
    height: 70px;
    border: 1px solid silver;
    border-radius: 50%;
}

.leave-comment .user-info .user-name {
    float: left;
    height: 100%;
    background-color: #F0F0F0;
    border: 0;
}

.leave-comment .user-info .user-name .user-name-button {
    margin-top: 10px;
    border: none;
    background-color: #F0F0F0;
    color: #060077;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 21px;
}

.leave-comment .user-info .user-name .log-out-button {
    background-color: #F0F0F0;
    color: grey;
    font-weight: 150;
    font-size: 15px;
    border: 0;

}

.leave-comment .comment {
    width: 100%;
    height: 400px;
}

.leave-comment .comment textarea {
    margin-left: 15px;
    resize: none;
    margin-top: 20px;
    width: 95%;
    padding: 10px 10px;
    font-size: 22px;
    height: 190px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(184, 184, 184);
}

.leave-comment .comment textarea:focus {
    outline: none !important;
    border: 0;

}

.leave-comment .comment-submit-btn {
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: #f60;
    font-size: 20px;
    color: white;
    width: 95%;
    height: 40px;
}