body {
    background-color: rgb(240,240,240);
}

.top {
    margin-left: 250px;
    height: 65px;
    border-bottom: 1px solid grey;
}

.top .text1 {
    float: left;
    display: inline-block;
}

.top .text1 h2 {
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 10px;
}

.main-content {
    margin-left: 290px;
    margin-top: 40px;
    width: 1180px;
    height: 800px;
}

.main-content .head {
    width: 100%;
    height: 55px;
    background-color: rgb(220,220,220);
    border-radius: 10px;
}

.main-content .head .movie-info {
    height: 80px;
    width: 210px;
    float: left;
}

.main-content .head .movie-info h2 {
    margin-left: 10px;
    margin-top: 25px;
}

.main-content .head .navigation {
    margin-left: 50px;
    width: 850px;
}

.main-content .head .navigation ul {
    display: inline-block;
}

.main-content .head .navigation li {
    display: inline-block;
    margin-left: 7px;
}

.main-content .head .navigation li button {
    margin-top: 6px;
    height: 49px;
    color: black;
    background-color: rgb(220,220,220);
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.main-content .head .navigation li button:hover {
    color: #060077;
    border-bottom: 2px solid #060077;
}

.main-content .edit-poster {
    float: left;
    margin-top: 20px;
    width: 215px;
    height: 325px;
    background-color: rgb(248,248,248);
    border: 1px solid silver;
    border-radius: 5px;
}

.left {
    float: left;
    width: 220px;
}

.right {
    float: left;
}

.right button {
    font-family: sans-serif;
    width: 170px;
    height: 30px;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 1.10em;
    color: black;
    background-color: rgb(248,248,248);
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}


.image-preview {
    width: 170px;
    height: 230px;
    border: 2px solid silver;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

.image-preview__image {
    min-width: 170px;
    height: 230px;
    object-fit: cover;
}

.image-preview__default__text {
    margin-left: 100px;
}


.inputFile {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    font-family: sans-serif;
    width: 170px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.10em;
    color: black;
    background-color: rgb(248,248,248);
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    padding: 3px 50px;
}

.edit-title-date-time-description {
    float: left;
    margin-top: 20px;
    width: 825px;
    height: 410px;
    background-color: rgb(248,248,248);
    border: 1px solid silver;
    border-radius: 5px;
}

.edit-title-date-time-description label {
    width: 150px;
    margin-left: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
}

.edit-title-date-time-description input {
    margin-top: 8px;
    width: 630px;
    height: 27px;
    margin-left: 10px;
    background: rgb(248,248,248);
    outline: 0;
    font-size: 18px;
    color: black;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 2px;
}

.edit-title-date-time-description textarea {
    margin-top: 20px;
    width: 630px;
    height: 150px;
    margin-left: 10px;
    background: rgb(248,248,248);
    outline: 0;
    font-size: 18px;
    color: black;
    resize: none;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid silver;
}

.edit-title-date-time-description .info-container {
    height: 355px;
}

.edit-title-date-time-description button {
    font-family: sans-serif;
    float: right;
    width: 260px;
    margin-right: 20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.10em;
    color: black;
    background-color: rgb(248,248,248);
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.content-table {
    border-collapse: separate;
    font-size: 1.1em;
    width: 100%;
    overflow: hidden;
    color: black;
    font-family: sans-serif;
    border-spacing: 0 12px;
}

.content-table thead tr {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    min-width: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.content-table td {
    background-color: rgb(211,211,211);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

.content-table i {
    color: white;
}

.content-table button {
    font-size: 13px;
    border: none;
    outline: none;
    background-color: rgb(211,211,211);
    color: white;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.content-table tbody tr {
    height: 55px;
}

.content-table tbody tr td {
    font-size: 15px;
    font-weight: 150;
}

.overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay1:target {
    visibility: visible;
    opacity: 1;
}

.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
}
.pop {
    position: fixed;
    top: 32%;
    left: 40%;
    width: 450px;
    padding: 15px;
    background: rgb(211,211,211);
    border-radius: 5px;
    min-height: 150px;
    overflow: hidden;
    transition: all 5s ease-in-out;
    border: 1px solid #222028;
}

.pop h2 {
    color: black;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .pop {
        width: 70%;
    }
}

.pop .text, .right .pop .text {
    width: 100%;
    text-align: center;
}

.pop .text p, .right .pop .text p {
    font-weight: 150;
    margin-left: -3px;
    margin-top: 10px;
}

.buttons .remove, .right .buttons .change-status {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.buttons button, .right .buttons button {
    margin-top: 12px;
    width: 400px;
    height: 42px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    background-color: rgb(211,211,211);
}

.buttons button a, .right .buttons button a {
    width: 183px;
    height: 42px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.button .edit-btn {
    text-align: center;
    background-color: #eb5757;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    width: 30px;
    height: 30px;
    border-radius: 5px
}

.button .edit-btn i {
    color: white;
    font-size: 20px;
}

.add {
    height: 300px;
}

.add .button .add-btn {
    color: black;
    font-size: 20px;
    margin-top: 12px;
    width: 200px;
    height: 40px;
    float: right;
    background-color: rgb(211,211,211);
    border: 2px solid black;
    border-radius: 8px;
}

.add .pop li {
    display: block;
    margin-top: 8px;
}

.add .pop input {
    margin-top: 5px;
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(211,211,211);
    border: 1px solid black;
    outline: none;
    padding: 5px 12px;
    color: black;
}

.add .pop input:focus{
    border: 1px solid black;
    border-radius: 8px;
}

.add .pop select {
    margin-top: 5px;
    width: 400px;
    border-radius: 8px;
    background-color: rgb(211,211,211);
    border: 1px solid #1a191f;
    outline: none;
    padding: 5px 12px;
    color: black;
    cursor: pointer;
}

video {
    margin-left: 15px;
    margin-top: 10px;
    width: 565px;
    height: 230px;
    object-fit: fill;
}

.bottom {
    margin-left: 10px;
    margin-top: 20px;
    background-color: rgb(248,248,248);
    float: left;
    width: 600px;
    height: 325px;
    border: 1px solid silver;
    border-radius: 5px;
}

.label-for_video {
    font-family: sans-serif;
    width: 565px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1.10em;
    color: black;
    background-color: rgb(248,248,248);
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 3px 50px;
}

.bottom button {
    font-family: sans-serif;
    width: 565px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1.10em;
    color: black;
    background-color: rgb(248,248,248);
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.arrow-5 {
    background: #eb5757;
    text-align: left;
    color: #fff;
    padding: 10px 10px;
    margin-top: 15px;
}

.arrow-5-top {
    margin-left: 170px;
    position: relative;
    z-index: 10;
    width: 600px;
}

.arrow-5-top::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
}

.arrow-5-top::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 10%;
    border-bottom: 10px solid #eb5757;
    top: -8px;
}

.alert{
    width:50%;
    margin: -20px auto;
    padding:30px;
    position:relative;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    z-index: 10;
    animation: drop 0.7s ease forwards;
}

@keyframes drop  {
    0%{}
    70%{transform: translateY(20px)}
    100%{transform: translateY(20px)}
}
.close{
    color: black;
    position:absolute;
    width:30px;
    height:30px;
    opacity:0.5;
    border-width:1px;
    border-style:solid;
    border-radius:50%;
    right:15px;
    top:25px;
    text-align:center;
    font-size:1.6em;
    cursor:pointer;
}

.add-actor, .add-country {
    margin-top: 20px;
    width: 100%;
}

.add-actor-right, .add-country-right {
    float: left;
}

.add-actor-btn, .add-country-btn {
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background: rgb(220,220,220);
    font-size: 20px;
}
