* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.navigation {
    background: rgb(32,32,32);
    width: 100%;
    height: 80px;
}

button {
    font-family: "Poppins", sans-serif;
}

.dropdown {
    background-color: rgb(32,32,32);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 92%;
    margin-right: 100px;
    height: 80px;
}

.dropdown h1 {
    color: white;
    height: 100%;
    display: table-cell;
    margin-top: 50px;
    margin-right: 30px;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 200;
}

@media (max-width: 1500px){
    .dropdown h1 {
        height: 100%;
    }
}

.logo {
    margin-left: 10px;
    float: left;
    min-width: 300px;
    height: 60px;
}

.search-box {
    float: left;
    min-width: 650px;
    width: 800px;
    height: 60px;
}

.search-box input {
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.search-box input[type="text"] {
    background: rgb(32,32,32);
    border-radius: 8px 0 0 8px;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
    min-width: 610px;
    height: 35px;
    padding: 0 15px;
    outline: none;
    border: 1px solid white;
}

.search-box button[type="submit"] {
    position: relative;
    margin-left: -5px !important;
    height: 35px !important;
    width: 50px !important;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0 8px 8px 0 !important;
    cursor: pointer;
    background: rgb(32,32,32) !important;
    color: white !important;
}

.search-box button:hover {
    border-right: 1px solid white !important;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    padding: 0 !important;
}

.dropdown h1 span {
    font-weight: 800;
}

.movies {
    position: relative;
}

.movies li {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.movies li a:hover {
    color: #066ee7;
}

.movies, .language, .profile-picture {
    position: relative;
}

.movies ul {
    position: absolute;
    background: rgb(16, 16, 16);
    width: 250px;
    height: 200px;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.language ul {
    background-color: rgb(16, 16, 16);
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.profile-picture ul {
    background-color: rgb(16, 16, 16);
    position: absolute;
    display: flex;
    width: 280px;
    margin-left: -89px;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.profile-picture ul li button,
.language ul li button {
    font-size: 18px;
    height: 40px;
    width: 100%;
    margin-left: 0px;
    padding: 0px 15px;
    text-align: left;
    font-family: sans-serif;
    display: inline-block;
}

.profile-picture ul li ul {
    margin-left: 0px;
}

.profile-picture ul li ul button img {
    width: 25px;
    height: 18px;
    border-radius: 0;
    border: 0;
    outline: none;
}


.profile-picture i {
    width: 25px;
}

.profile-picture ul li button h4,
.language ul li button h4 {
    font-family: sans-serif;
    font-weight: 200;
    margin-left: 10px;
    display: inline-block;
}

.language ul li button img {
    width: 30px;
    height: 20px;
    border: 0;
    outline: none;
}


.profile-picture ul li button:hover,
.language ul li button:hover {
    background-color: rgb(40, 40, 40);
    border: none;
    outline: none;
}

.profile-picture button img {
    object-fit: cover;
    border: 1px solid rgb(96,96,96);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-picture .profile-info {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid silver;
}

.profile-info .profile-img {
    float: left;
    width: 65px;
    height: 100%;
    text-align: center;
}

.profile-info .profile-img img {
    object-fit: cover;
    border: 1px solid rgb(96,96,96);
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-info .user-name {
    float: left;
    height: 100%;
}

.user-name p {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 10px;
}

.dropdown button, a {
    background: none;
    border: none;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}

.dropdown button:hover + ul {
    text-decoration: none;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.dropdown .icon:hover {
    border: 0;
}

.dropdown button:hover {
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.dropdown button:focus {
    outline: none;!important;
}

ul:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.language .btn {
    margin-top: 3px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    border: 0;
}

.language .btn:focus {
    border: 0;
    outline: none;
    border-bottom-color: black;
}

.language .btn:hover {
    color: #066ee7;
    cursor: pointer;
    outline: none;
    border: 0;
}

