h2 {
    margin-left: 170px;
    color: #1a1a1a;
    margin-top: 60px;
    font-family: sans-serif;
}

.new-movie-container {
    margin-top: 3px;
    margin-left: 170px;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 850px;
    min-height: 380px;
}

.title {
    margin-top: 10px;
    width: 210px;
    height: auto;
    text-align: center;
    align-items: center;
}

.title a {
    margin-left: -20px;
}

.movie-info {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 340px;
    border-bottom: 2px solid #f9c22a;
    float: left;
}

.movie-rating {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 30%;
    background: #66cc33;
    margin-left: 135px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 40px;
}

.movie-rating1 {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 95%;
    background: #66cc33;
    margin-left: 135px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 40px;
}

.movie-info img {
    object-fit: fill;
    border-radius: 5px;
    min-width: 200px;
    max-width: 200px;
    min-height: 260px;
    max-height: 260px;
}

.movie-info a {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: initial;
    text-decoration: none;
    color: black;
}

.movie-info a:hover, .btn:hover {
    color: #f9c22a;
}

.btn {
    margin-top: 8px;
    margin-left: 780px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    border: 0;
    background: white;
    cursor: pointer;
}


#wrapper, #wrapper1 {
    position: relative;
    width: 100%;
    max-width: 1060px;
    margin-left: 170px;
}

#carousel, #carousel1 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar, #carousel1::-webkit-scrollbar {
    height: 0;
}

#prev,
#next,
#prev1,
#next1 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid silver;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev, #prev1 {
    top: 60%;
    left: -4.5%;
    transform: translate(50%, -50%);
    display: none;
}

#next, #next1 {
    top: 60%;
    right: -4.5%;
    transform: translate(-50%, -50%);
}

#content, #content1 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    margin: auto;
    box-sizing: border-box;
}

.item {
    object-fit: fill;
    float: left;
    width: 200px;
    height: 260px;
    border-radius: 8px;
    background: green;
}

#content .score, #content1 .score {
    width: 50px;
    height: 50px;
    padding: 7px 5px;
    border-radius: 8px;
    transform: translateY(60px);
    float: right;
    margin-right: 10px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

#content .movie-title, #content1 .movie-title {
    color: black;
    margin-top: 200px;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}

#content .movie-title:hover, #content1 .movie-title:hover {
    color: #f9c22a;
}

#wrapper li, #wrapper1 li {
    display: inline-block;
}

#wrapper .top, #wrapper1 .top {
    transform: translateY(50px);
    height: 100px;
    width: 100%;
}