h2 {
    margin-left: 170px;
    color: #1a1a1a;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

h2:hover {
    color: #066ee7;
}

.new-movie-container {
    margin-top: 3px;
    margin-left: 170px;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 850px;
    min-height: 380px;
}

.title {
    margin-top: 10px;
    width: 210px;
    height: auto;
    text-align: center;
    align-items: center;
}

.title a {
    margin-left: -20px;
}

.movie-info {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 340px;
    border-bottom: 2px solid #f9c22a;
    float: left;
}

.movie-rating {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 30%;
    background: #66cc33;
    margin-left: 135px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 40px;
}

.movie-rating1 {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 95%;
    background: #66cc33;
    margin-left: 135px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 40px;
}

.movie-info img {
    object-fit: fill;
    border-radius: 5px;
    min-width: 200px;
    max-width: 200px;
    min-height: 260px;
    max-height: 260px;
}

.movie-info a {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: initial;
    text-decoration: none;
    color: black;
}

.movie-info a:hover, .btn:hover {
    color: #f9c22a;
}

.btn {
    margin-top: 8px;
    margin-left: 780px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    border: 0;
    background: white;
    cursor: pointer;
}


#wrapper, #wrapper1, #wrapper2 {
    position: relative;
    float: top;
    margin-top: 30px;
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    margin-left: 140px;
}

#carousel2, #carousel1, #carousel3 {
    height: 320px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel2::-webkit-scrollbar, #carousel1::-webkit-scrollbar, #carousel3::-webkit-scrollbar {
    height: 0;
}

#prev2,
#next2,
#prev1,
#next1,
#prev3,
#next3 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid silver;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev1, #prev2, #prev3 {
    top: 50%;
    left: -6%;
    transform: translate(50%, -50%);
    display: none;
}

#next1, #next2, #next3 {
    top: 50%;
    right: -6%;
    transform: translate(-50%, -50%);
}

#content1, #content2, #content3 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    margin: auto;
    box-sizing: border-box;
}

.item {
    z-index: 0;
    object-fit: cover;
    float: left;
    margin-top: -38px;
    width: 160px;
    height: 230px;
    border-radius: 2px;
    background: green;
}

#content2 .score, #content1 .score, #content3 .score {
    width: 50px;
    height: 50px;
    padding: 7px 5px;
    border-radius: 8px;
    transform: translateY(20px);
    float: right;
    margin-right: 10px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

#content2 .movie-title, #content1 .movie-title, #content3 .movie-title {
    color: black;
    margin-top: 120px !important;
    transform: translateY(7px);
    cursor: pointer;
    text-align: left;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 19px;
}

#content2 .movie-title:hover, #content1 .movie-title:hover, #content3 .movie-title:hover {
    color: #066ee7;
}

#wrapper li, #wrapper1 li, #wrapper2 li {
    display: inline-block;
}

#wrapper .top, #wrapper1 .top, #wrapper2 .top {
    height: 30px;
    width: 100%;
}

.top .link1 {
    font-size: 19px;
    cursor: pointer;
    border: 0;
    background-color: white;
}

.link2 {
    border: 0;
    background-color: white;
    color: #29d2c7;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Oswald', "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
}

.link2:hover, .link1:hover {
    color: #066ee7;
}

.trailers-container {
    margin-left: 140px;
    margin-top: 20px;
    width: 1200px;
    height: 460px;
}

.trailers-container .img1 {
    position: absolute;
    object-fit: cover;
    filter: brightness(40%);
    width: 1200px;
    height: 460px;
}

.trailers-container .titles {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    height: 420px;
    border-bottom: 1px solid white;
}

.trailers-container .titles .title-btn {
    margin-top: 10px;
    padding: 0 15px;
    width: 450px;
    height: 30px;
    display: block;
    cursor: pointer;
    text-align: left;
    font-size: 17px;
    border: none;
    background: none;
    color: white;
}

.trailers-container .titles .title-btn p {
    display: inline-block;
}

.trailers-container .titles .title-btn p:hover {
    color: #f9c22a;
}

.trailers-container .titles .title-btn span {
    float: right;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}

.trailers-container .titles .title-btn span p {
    padding: 3px 2.5px;
    font-family: sans-serif;
    font-size: 15px;
}

.trailers-container .titles .title-btn:focus {
    background: black;
}

.trailers-container .titles .title-btn span {
    margin-left: 30px;
}

.trailers-container .trailer {
    margin-left: 500px;
    position: absolute;
    margin-top: 30px;
    width: 680px;
    height: 410px;
}

.trailers-container .trailer .movie-trailer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}