body {
    background-color: #e6e6e6;
    background-size: cover;
}

.middle-content {
    background-color: rgb(255, 255, 255);
    width: 1030px;
    min-height: 600px;
    height: auto;
    margin-left: 250px;
    border-bottom: 0.5px solid silver;
}

.middle-content .user {
    height: 170px;
    width: 800px;
    float: top;
}

.middle-content .profile-picture {
    margin-top: 50px;
    margin-left: 70px;
    width: 100px;
    height: 110px;
    float: left;
}

.middle-content .profile-picture img {
    object-fit: cover;
    height: 90px;
    width: 90px;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 5px;
}

.middle-content .user-info {
    margin-top: 50px;
    float: left;
    width: 400px;
    height: 110px;
}

.middle-content .user-info h2 {
    margin-left: 5px;
    font-family: 'Oswald', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
    font-weight: 550;
    color: #333;
    text-transform: uppercase;
    height: 32px;
}

.user-info span {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

.middle-content .edit-settings {
    margin-top: 50px;
    float: left;
    width: 150px;
    height: 110px;
}

.middle-content .edit-settings button {
    width: 140px;
    text-align: center;
    height: 30px;
    border: 1px solid silver;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 255, 255);;

}

.middle-content .edit-settings a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-left: 0;
    font-family: sans-serif;
    font-size: 15px;
    color: black;
}

.middle-content .edit-settings a:hover {
    color: #066ee7;
}

h2 {
    margin-left: 70px;
    float: top;
    font-family: 'Oswald', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.middle-content .my-scores {
    width: 700px;
    height: 140px;
    margin-left: 70px;
    margin-top: 10px;
}

.my-scores h4 {
    font-size: 17px;
}

.my-latest-scores {
    float: left;
    margin-left: 20px;
    width: 400px;
    height: 100%;
}

.score-distribution {
    float: left;
    width: 250px;
    height: 100%;
}

.score-distribution h5 {
    font-weight: 100;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 2px;
}

.score-distribution h5 span {
    margin-left: 20px;
}

.positive-score .positive-value, .negative-value, .mixed-value {
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.score-distribution .positive-score, .negative-score, .mixed-score {
    margin-top: 10px;
    width: 240px;
    height: 5px;
    background-color: rgb(220,220,220);
    border-radius: 9px;
}

.latest-high-score, .latest-low-score {
    height: 45px;
}

.latest-high-score .title, .latest-low-score .title {
    float: left;
    margin-left: 5px;
}

.latest-high-score h3, .latest-low-score h3 {
    font-size: 15px;
    margin-top: 3px;
}

.latest-high-score button, .latest-low-score button {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    color: black;
    border: 0;
}

.latest-high-score button:hover, .latest-low-score button:hover {
    color: #066ee7;
}

.latest-high-score .score, .latest-low-score .score{
    float: left;
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}

.score p {
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

.my-latest-scores h4 span {
    margin-left: 5px;
}

.middle-content .history {
    margin-top: 10px;
    float: top;
    margin-left: 70px;
    width: 450px;
    height: 100px;
    border-bottom: 1px solid silver;
}


.middle-content .history .movie-poster {
    float: left;
    width: 70px;
    height: 100px;
}

.middle-content .history .movie-poster img {
    object-fit: cover;
    margin-top: 5px;
    width: 60px;
    height: 75px;
}

.middle-content .history .movie-title {
    float: left;
    text-align: left;
    width: 320px;
    min-height: 100px;
    height: auto;
}

.middle-content .history .movie-title button {
    border: 0;
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: "proxima_nova","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.middle-content .history .movie-title button:hover {
    color: #066ee7;
}

.middle-content .history .movie-title button:focus {
    outline: none;
    border: 0;
}

.middle-content .history .user-score {
    width: 40px;
    height: 100px;
    float: left;
}

.middle-content .history .movie-title .text {
    float: top;
    margin-top: 15px;
    margin-left: 10px;
    font-family: georgia,serif;
    font-size: 11px;
    line-height: 16px;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.middle-content .history .movie-title .date {
    color: grey;
    font-family: "proxima_nova","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin-left: 10px;
    margin-top: 3px;
}


.middle-content .history .user-score p {
    margin-top: 5px;
    float: left;
    border-radius: 50%;
    color: white;
    width: 32px;
    height: 32px;
    padding: 8px 6px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.pagination {
    margin-top: 5px;
    margin-left: 65px;
}

.pagination .title {
    float: left;
}

.pagination .title p {
    margin-top: 2px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}

.pagination a {
    color: black;
    margin-left: 7px;
    font-weight: bold;
    font-size: 13px;
}



