body {
    background-color: #F0F0F0;
}

h2 {
    margin-top: 40px;
    margin-left: 250px;
    font-family: 'Oswald',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",
    Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    margin-left: 250px;
    margin-top: 20px;
    font-family: 'Oswald',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",
    Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

hr{
    margin-top: 8px;
    margin-right: 400px;
    margin-left: 250px;
}

img {
    margin-top: -25px;
    width: 110px;
    height: 100px;
    margin-left: 450px;
    border: 1px solid silver;
    border-radius: 5px;
}

.password input {
    width: 370px;
    height: 30px;
    display: block;
    margin-top: 10px;
    margin-left: 370px;
    border: 1px solid silver;
    border-radius: 5px;
}

.message {
    margin-top: 20px;
    margin-left: 250px;
    font-size: 30px;
    font-family: sans-serif;
}

input:checked {
    border: 1px solid silver;
}

.password button {
    margin-left: 750px;
    margin-top: -23px;
    font-size: 15px;
}

.password {
    margin-top: -30px;
}

.password button {
    margin-top: -30px;
    border: 1px solid silver;
    font-family: sans-serif;
    background-color: white;
    height: 30px;
    width: auto;
}

.password button:hover {
    color: #066ee7;
    cursor: pointer;
}