body {
    background-color: #1a191f;
}

.top {
    margin-left: 250px;
    height: 65px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.top .text1 {
    float: left;
    display: inline-block;
}

.top .text1 h2{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 10px;
}

.main-content {
    width: 1150px;
    height: 700px;
    margin-left: 300px;
    margin-top: 20px;
    border: 1px solid #222028;
}

.left {
    float: left;
}

.image-preview {
    width: 300px;
    height: 379px;
    border: 2px solid #222028;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

.image-preview__image {
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid #222028;
    border-radius: 10px;
}

.image-preview__default__text {
    margin-left: 100px;
}


.inputFile {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    font-family: sans-serif;
    width: 790px;
    font-size: 1.25em;
    color: white;
    background-color: #222028;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}


.info {
    margin-top: 12px;
    margin-left: 15px;
    float: left;
}

.info .block {
    display: block;
}

.info .block li {
    margin-top: 13px;
    display: block;
}

.info .text {
    width: 790px;
    height: 42px;
    background: #222028;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
}

.info textarea {
    width: 790px;
    height: 100px;
    background: #222028;
    overflow: hidden;
    resize: none;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
}

.info select {
    width: 790px;
    height: 42px;
    background: #222028;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
}

.info .text:focus, .info textarea:focus, .inline .text:focus, .inline textarea:focus {
    border: 2px solid #f9c22a;
}

.info .inline .text:focus, .info .inline textarea:focus {
    border: 2px solid #f9c22a;
}

